.header{

    display: flex;
  
    width: 100%;
    flex-direction: row;
    z-index: 1000;
  
    background-color: inherit;
    align-items: center;
   margin-top: 1rem;
   margin-bottom: 5rem;

}

.right__header{
    display: flex;
   

    
}